PORT=3000
AUTH=Example_Auth # Authorization Header
APP_BUNDLE=fr.lumaa.SeerrAPN

# SQL config
HOST=0.0.0.0
USER=root
PASSWORD=password
DATABASE=seerapn

# APN config
KEY_DIR=/ # Necessary if the file is not in the root
KEY_ID=AABBCCDDEE # Should be the same as `AuthKey_[KEY_ID].p8`
TEAM_ID=AABBCCDDEE # Apple Developer Account team id